.login-ancher-tag{
	position: relative;
	top: 0;
	left: 0;
	text-decoration: none;
}
.product-thumb .addcart{
	background: #da4f49!important;
	color: #fff!important;
}
.sup-menu-button{
	padding: 10px 12px!important;
	background: #000;

}
@media (max-width: 480px){
	.sup-button{
		display: none!important;
	}

}
@media (min-width: 480px){
	.sup-menu-button{
		display: none!important;
	}
}
.breadcrumb-back {
    background: #373f50!important;
    margin: 0 0 20px 0;
    padding: 20px 0;
}
  .check-out-before::before{
      content: none !important;
      display: none !important;
    }
    .lg-heading{
      flex: auto;
    }
    @media (min-width: 500PX ){
      .lg-heading{
          padding-top: 20px;           
      }
    }
.checkout-back-bt{
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 30px;
    border: 2px solid #da4f49;
    color: var(--secondary-color);
    background: #da4f49;
    border-radius: 0;
    font-weight: 400;
    cursor: pointer;
}
.checkout-back-bt:hover{
  background: transparent;
}
.sup_profile_img {
    height: 72px;
    width: 72px;
    left: 36px;
    border-radius: 50%;
    background-position: center center / contain no-repeat;
    bottom: 4px;
    border: 0.5px solid rgb(240, 240, 240);
}